ShoppingBasket.xcodeproj/project.xcworkspace/xcuserdata/cpowers.xcuserdatad/UserInterfaceState.xcuserstate
ShoppingBasket.xcodeproj/xcuserdata/cpowers.xcuserdatad/xcschemes/ShoppingBasket.xcscheme
ShoppingBasket.xcodeproj/xcuserdata/cpowers.xcuserdatad/xcschemes/xcschememanagement.plist
